<!doctype html>
<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <table>
      <thead>
        <tr>
          <th>Task</th>
        </tr>
      </thead>
      <tbody>
        {% block head %}
        <tr>
          <td></h1></td>
        </tr>
        {% endblock %}
      </tbody>
    </table>
    <form action="/submit" method="post">
      <label for="todo_item">New Task:</label>
      <input type="text" name="todo_item" id="todo_item">
      <button type="submit">Add Task</button>
    </form>
  </body>
</html>