<!doctype html>
<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <table>

          <form action="/submit" method="post">

            <tr>
              <th><label for="todo_item">Name</label></th>
              <th><input type="text" name="todo_item" id="todo_item"></th>
            </tr>

            <tr>
              <th><label for="email">Email:</label></th>
              <th><input type="text" name="name" id="email"></th>
            </tr>

            <tr>
              <input type="submit" value="Add To Do Item">
            </tr>
          </form>

         </thead>
    </table>
  </body>
</html>