<!doctype html>
<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <table>
      <thead>
        <tr>
          <th>Task</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Hello, {{ name }} </td>
        </tr>

      </tbody>
    </table>
    <form action="/submit" method="post">
      <label for="todo_item">New Task:</label>
      <input type="text" name="todo_item" id="todo_item">
      <input type="submit" value="Add Task">
    </form>
  </body>
</html>